.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #DEDDFC;
  border-radius: 4px;
  background: #DEDDFC;
  color: #9370db;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #CBCAF7;
  border-color: #CBCAF7;
  color: white;
}

.button--inverse {
  background: transparent;
  color: #9370db;
  border: 1px solid #9370db
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #CBCAF7;
}

.button--danger {
  background: #EEEDF7;
  border-color: #EEEDF7;
  color:#9370db;
}

.button--danger:hover,
.button--danger:active {
  background: #E1DFED;
  border-color: #E1DFED;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}