.form-control {
    margin: 1rem 0;
  }
  
  .form-control label,
  .form-control input,
  .form-control textarea {
    display: block;
  }
  
  .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #9370db;
    font-size: x-large;
  }
  
  .form-control input, 
  
  .form-control textarea {
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.35rem 0.25rem;
    font-size: large;
  }
  
  .form-control input:focus,
  .form-control textarea:focus {
    outline: none;
    background: #f8f8f8;
    border-color: #9370db;
    font-size: large;
  }
  
  .form-control--invalid label{
    color: #9370db;
    font-size: x-large;
  }

  .form-control--invalid p {
    color: red;
  }
  
  .form-control--invalid input,
  .form-control--invalid textarea {
    border-color: red;
    background: #f8f8f8;
  }